[submodule "toshokan"]
  path = toshokan
  url = https://github.com/dtulibrary/toshokan
[submodule "docdel"]
  path = docdel
  url = https://github.com/dtulibrary/docdel
[submodule "findit-auth"]
  path = findit-auth
  url = https://github.com/dtulibrary/findit-auth
[submodule "sendit"]
  path = sendit
  url = https://github.com/dtulibrary/sendit
[submodule "covers"]
  path = covers
  url = https://github.com/dtulibrary/covers
[submodule "getit"]
  path = getit
  url = https://github.com/dtulibrary/getit
[submodule "docstore"]
  path = docstore
  url = https://github.com/dtulibrary/docstore
[submodule "alerting"]
  path = alerting
  url = https://github.com/dtulibrary/alerting
[submodule "freecite"]
  path = freecite
  url = https://github.com/dtulibrary/freecite-docker
